html {
    height:100%;
}
body {
    font-family:'open sans',arial,sans-serif;
    margin:0;
    padding:0;
    height:100%;
}
p {
    font-size:15px;
    color:#555;
}

#appContainer {
    height:100%;
    background: #f0f4f7;
    &.dark-theme {
        background: #3d4a54;
    }
    #container {
        margin-top: 50px;
        padding: 20px;
    }
}
